:root {
  --mainBlue: #020216;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #fd8802;
}

body {
  /* Bootstrap overides default style of below items. So add !important */
  font-family: "Cantarell", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Robato", sans-serif;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainBlue) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainDark);
}

.cart-icon:hover {
  color: #e74c3c !important;
}


.form__input {
  background: transparent;
  border: 0;
  border-bottom: solid 2px var(--mainBlue);
  margin-right: 10px;
  letter-spacing: 2px;
  width: 20%;
  padding: 0.4rem;
  font-style: italic;
}

.form__button {
  border: solid 2px var(--lightBlue);
  background: transparent;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}

.form__button:hover {
  background: var(--lightBlue);
  color: var(--mainBlue);
  font-size: 1.1rem;
}

input[type="text"] { 
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
  -webkit-text-fill-color: #2c3e50 !important;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}